<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.qianfeng"></context:component-scan>
    <mvc:annotation-driven></mvc:annotation-driven>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">

        <property name="prefix" value="/"></property>
        <property name="suffix" value=".jsp"></property>
    </bean>
    <bean id="ds" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
        <property name="url" value="jdbc:mysql://localhost:3306/shiro"></property>
        <property name="username" value="root"></property>
        <property name="password" value="mlh123456"></property>
    </bean>

    <!--JdbcRealmjdbc   yu-->
    <bean id="jdbcRealm" class="org.apache.shiro.realm.jdbc.JdbcRealm">
        <property name="dataSource" ref="ds"></property>
        <property name="permissionsLookupEnabled" value="true"></property>
        <property name="authenticationQuery"
                  value="select pwd from users where account=?"></property>
        <property name="userRolesQuery"
                  value="select r_name from u_r left join role using(rid) left join users using(uid) where account=?"></property>
        <property name="permissionsQuery"
                  value="select per_name from role_per left join role using(rid) left join per using(pid) where r_name=?"></property>
    </bean>

    <!--内存缓存管理器-->
    <bean id="cacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"></bean>

    <!--安全管理器-->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="jdbcRealm"></property>
        <property name="cacheManager" ref="cacheManager"></property>
    </bean>

    <!--shiro过滤器-->
    <bean id="shiro" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>

        <!--没有登陆，而访问需要登陆后才能访问的页面，就跳转到登录页面-->
        <property name="loginUrl" value="toLogin.do"></property>

        <!--无权访问跳转的页面-->
        <property name="unauthorizedUrl" value="/toNoqx.do"></property>
        <property name="filterChainDefinitions">
            <!--所有admin下的必须登录才能访问，admin之外的都可以匿名登录-->
            <value>
                /admin/**=authc
                /**=anon
            </value>

        </property>

    </bean>
</beans>